/* GENERAL STYLES */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./assets/roboto/roboto-v20-latin-regular.woff") format("woff");
}

html,
body,
body > div,
div#joplin-plugin-content {
  font-size: var(--joplin-font-size);
  height: 100%;
}
a {
  text-decoration: none;
}
span {
  cursor: default;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* HORIZONTAL LAYOUT */
#container {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

#tabs-container {
  display: flex;
  float: left;
  width: 100%;
}
#tab {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  display: flex;
  padding: 0 8px;
}
#tab .fas {
  margin-left: auto;
  margin-right: 0;
  padding: 2px;
  visibility: hidden;
}
#tab:hover .fas {
  visibility: visible;
}
.new {
  font-style: italic;
}
.tab-inner {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.tab-inner > input {
  margin: 0;
  margin-right: 3px;
}
.tab-title {
  overflow: hidden;
  padding-right: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#controls {
  align-items: center;
  display: flex;
  float: right;
  padding: 0 5px;
  margin-left: auto;
  margin-right: 0;
}
#controls .fas {
  align-items: center;
  display: flex;
  font-size: 14.4px;
  height: 26px;
  justify-content: center;
  max-width: 26px;
  min-height: 26px;
  opacity: 0.8;
  width: 26px;
}
#controls .fas:hover {
  opacity: 1;
}

#breadcrumbs-container {
  display: flex;
  float: left;
  width: 100%;
}
.breadcrumbs-icon {
  height: 100%;
  margin: auto 0;
  padding-left: 8px;
}
.breadcrumb {
  display: flex;
  height: 25px;
  min-width: 50px;
}
.breadcrumb:last-of-type .fas {
  display: none;
}
.breadcrumb-inner {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.breadcrumb-inner a:hover {
  text-decoration: underline;
}
.breadcrumb-title {
  overflow: hidden;
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* DRAG AND DROP */
[draggable="true"] {
  /* To prevent user selecting inside the drag source */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dragging {
  opacity: 0.4;
}
.dragover {
  background-color: var(--joplin-background-color-hover3) !important;
}

/* VERCTICAL LAYOUT OVERWRITES */
@media screen and (max-width: 400px) {
  #container {
    overflow-x: hidden;
    overflow-y: auto;
  }

  #tabs-container {
    display: block;
    width: 100%;
  }

  #tab {
    border-right-width: 0;
    border-bottom-width: 1px;
    max-width: 100% !important;
  }

  #breadcrumbs-container {
    display: none !important;
  }
}
